/**BOOTSTRAP**/
.navbar-default {
    background-color: #f8f8f8;  
    border-style: solid;
    border-color: #d1d0d0;
    border-width: 1px;
    min-height: 70px;
    
    /*margin-bottom: 0px;*/
}

.row {
    margin-left: 0px;   
}

/* Used to vertically align contents in a fluid container */
.container-fluid.valign {
    height:100%;
    display:table !important;
    width: 100%;
    padding: 0;
    text-align: center;
}

/* Vertically aligned component in a fluid container */
.row-fluid.valign {
    height: 100%; 
    display:table-cell; 
    vertical-align: middle;
}

.valign {
    height: 100%; 
    display:table-cell; 
    vertical-align: middle;
}

/**HTML ELEMENTS**/
html {
    height: 100%;   
}

body {
    background-color: #eeeeee;  
    padding-top: 72px;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans';
    color: #242424;
}

/**CUSTOM**/
.homediv {
  position: absolute;
  top: 50%;
  border: 1px dashed deeppink;
}

#content {
    height: 100%;
}

#participantContainer {
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #d1d0d0;
}

.container-fluid.compPage {
    padding: 0px;
    height: 100%;
    margin-right: 40px;
}

.row-fluid.compPage {
    height: 100%;
}

.fullheight {
    height:100%;   
}

.title {
    margin-top: -150px;
}

.participantItem {
    height: 35px;
    border-bottom: 1px solid #eae8e8;
    padding: 10px;
}

.participantTitle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
    margin-left: 10px;
    font-weight: bold;
}

.participantScore {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
    color: #b9b4b4;
}

.participantStatus {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
/*    background-color: #5abc7d;*/
    border-radius: 10px;
    float: right;
}

.card {
    border: 1px solid #d1d0d0;
    border-radius: 5px;
    background-color: #ffffff;
    
    box-shadow: 0px .04em .1em #c4c4c4;
    overflow-x: hidden;
}

.cardHeader {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #f7f7f7;
    padding-top: 10px;
    
    border-bottom: 1px solid #eae8e8;
}

.cardHeader h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    color: #575757;
}

.cardSectionHeading {
    padding: 0px 15px 10px 15px;
    border-bottom: 1px solid #eae8e8;
}

.cardSectionHeadingTitle {
    display: inline !important;
    max-width: 50%;
    margin: 0px;
    font-size: 24px;
}

.questionItem {
    -webkit-transition: all .25s;
    transition: all .25s;
    border-bottom: 1px solid #eae8e8; 
    padding: 20px;
}

.questionTitle {
    font-size: 24px;
    position: relative;
    top: 50%;
    line-height: 50px;
}

.plusButton {
    float: right;
    font-size: 24px;
}

.questionEditBox {
    transition: all .65s;  
    -webkit-transition: all .65;
    max-height: 200px;
    opacity: 1;
}

.questionInfoBox {
    transition: all .25s;
}

#lockScreen {
    position:absolute;
    top:0px;
    width: 87%;
    height: 100%;
    background-color: #414141;
    margin-left: -42px;
    z-index: 1000;
    opacity: .5;
}

#lockImage {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: calc(50% - 75px);
}

/* #Green Sea Flat Button
==================================================*/
.green-sea-flat-button {
    position: relative;
    vertical-align: top;
    padding: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #78d09d;
    border: 0;
    border-bottom: 2px solid #6ab289;
    cursor: pointer;
    -webkit-box-shadow: inset 0 0px 2px #6ab289;
    box-shadow: inset 0 0px 2px #6ab289;
    border-radius: 5px;
    padding: 15px;
    transition: all .5s;
}
.green-sea-flat-button:active {
    top: 1px;
    z-index: 10;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
}

.green-sea-flat-button:focus {
    outline:0;
}

.green-sea-flat-button:disabled {
    background: #acc7ba;
    -webkit-box-shadow: inset 0 0px 2px #7f9589;
    box-shadow: inset 0 0px 2px #7f9589;
    border-bottom: 2px solid #7f9589;
    color: #efefef;
}

.green-sea-flat-button.questionButton {
    float: right;
    margin-left: 10px;
}

.green-sea-flat-button.red {
    background: #dd8080;
    border-bottom: 2px solid #b26a72;
    -webkit-box-shadow: inset 0 0px 2px #b26a72;
    box-shadow: inset 0 0px 2px #b26a72;
}

/**Animations**/
.questionItem.ng-enter {
    opacity: 0;
    max-height: 0px;
}

.questionItem.ng-leave {
    opacity: 1;
    max-height: 200px;
}

.questionItem.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 200px;
}

.questionItem.ng-leave.ng-leave-active {
    opacity: 0;
    max-height: 0px;
}

.questionEditBox.ng-hide {
    opacity: 0;
    max-height: 0px;
}

.questionInfoBox.ng-hide {
    opacity: 0;
}
