/**BOOTSTRAP**/
.navbar-default {
    background-color: #f8f8f8;  
    border-style: solid;
    border-color: #d1d0d0;
    border-width: 1px;
    /*min-height: 50px;*/
    
    /*margin-bottom: 0px;*/
}

.row {
    margin-left: 0px;   
}

/**HTML ELEMENTS**/
body {
    background-color: #edecec;  
    height: 100%;
    padding-top: 40px;
}

html {
    height: 100%;   
}

/**CUSTOM**/
.homediv {
  position: absolute;
  top: 50%;
  border: 1px dashed deeppink;
}

#content {
    height: 100%;
}

#participantContainer {
    width: 250px;
    min-height: 100%;
    background-color: #f8f8f8;
    padding: 10px;
    
    border-right: 1px solid #d1d0d0;
}