<!--
<div id="participantContainer">
    Hello World
</div>
-->

<div class="container-fluid compPage">
    <div class="row-fluid compPage">
        <div id="participantContainer" class="span2">
            <div class="participantItem">
                <div class="participantScore">200</div>
                <div class="participantTitle">Eric Lee</div>
                <div class="participantStatus"></div>
            </div>
        </div>
        
        <div class="span10">
            <div class="row-fluid">
                <div class="span12 card" style="margin-top: 30px;">
                    <div class="cardHeader">
                        <h3>Competition Title</h4>
                    </div>
                    
                    <div class="questionContainer">
                        <div class="questionItem">
                            <h3 class="cardSectionHeadingTitle">Questions</h3>
                            <button class="green-sea-flat-button questionButton" style="float:right" ng-click="newQuestionClicked()">New Question</button>
                        </div>
                        
                        <div class="questionItem" ng-repeat="question in questions">
                            
                            <div class="questionInfoBox" ng-show="!question.editing">
                                <span class="questionTitle">{{question.name}}</span>
                                <button class="green-sea-flat-button questionButton red" style="float: right" ng-click="editButtonClicked(question)">Edit</button>
                                <button class="green-sea-flat-button questionButton" style="float: right">Start</button>
                            </div>
                            
                            <div class="questionEditBox" ng-show="question.editing" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                                <input type="text" placeholder="Title" ng-model="question.name"/><br />
                                <textarea placeholder="Description" ng-model="question.description"></textarea><br />
                                <textarea placeholder="Answer" ng-model="question.answer"></textarea><br />
                                <button class="green-sea-flat-button" ng-click="saveButtonClicked(question)">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



