<!--
<div id="participantContainer">
    Hello World
</div>
-->

<div class="container-fluid compPage">
    <div class="row-fluid compPage">
        <div id="participantContainer" class="span2">
            <div class="participantItem" ng-repeat="participant in participants">
                <div class="participantScore">{{participant.score}}</div>
                <div class="participantTitle">{{participant.name}}</div>
                <div class="participantStatus">{{participant.locked}}</div>
            </div>
        </div>
        
        <div class="span10">
            <div class="row-fluid">
                <div class="span12 card" style="margin-top: 30px;">
                    <div class="cardHeader">
                        <h3>Competition Title</h4>
                    </div>
                    
                    <!--Mod HTML -->
                    <div class="questionContainer" ng-show="isOwner">
                        <div class="questionItem">
                            <h3 class="cardSectionHeadingTitle">Questions</h3>
                            <button class="green-sea-flat-button questionButton" style="float:right" ng-click="newQuestionClicked()">New Question</button>
                        </div>
                        
                        <div class="questionItem" ng-repeat="question in questions">
                            
                            <div class="questionInfoBox" ng-show="!question.editing">
                                <span class="questionTitle">{{question.name}}</span>
                                <button class="green-sea-flat-button questionButton red" style="float: right" ng-click="editButtonClicked(question)">Edit</button>
                                <button class="green-sea-flat-button questionButton" style="float: right">Start</button>
                            </div>
                            
                            <div class="questionEditBox" ng-show="question.editing" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                                <input type="text" placeholder="Title" ng-model="question.name"/><br />
                                <textarea placeholder="Description" ng-model="question.description"></textarea><br />
                                <textarea placeholder="Answer" ng-model="question.answer"></textarea><br />
                                <button class="green-sea-flat-button" ng-click="saveButtonClicked(question)">Save</button>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Participant HTML -->
                    <div class="questionContainer" ng-show="!isOwner">
                        <div class="questionItem">
                            <div ng-show="questions.length > 0">
                                <h3 class="questionTitle">Question Name:</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

                                <textarea placeholder="Put Code Here :)" style="width: 95%; height: 200px"></textarea><br />
                                <button class="green-sea-flat-button">Submit</button>
                            </div>
                            
                            <div ng-show="questions.length == 0">
                                <h3>Nothing to see here!</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



