<!--
<div id="participantContainer">
    Hello World
</div>
-->

<div class="container-fluid compPage">
    <div class="row-fluid compPage">
        <div id="participantContainer" class="span2">
            <div class="participantItem">
                <div class="participantScore">200</div>
                <div class="participantTitle">Eric Lee</div>
                <div class="participantStatus"></div>
            </div>
        </div>
        
        <div class="span10">
            <div class="row-fluid">
                <div class="span12 card" style="margin-top: 30px;">
                    <div class="cardHeader">
                        <h3>Competition Title</h4>
                    </div>
                    
                    <div>
                        Hello world
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



