<div class="container-fluid valign">
    <div class="row-fluid valign">
        <div class="row-fluid">
           
        </div>
        <div class="row-fluid">
            <h2> Competition Name </h2>
            <input type="text" class="form-control" ng-model="createName" placeholder="ex: BrickHacks">
        </div>
        <div class="row-fluid">
            <h2> Password </h2>
            <input type="password" class="form-control" ng-model="createPassword" placeholder="Password">
        </div>
        <div class="row-fluid">
            <h2> Chugga-name </h2>
            <input type="text" class="form-control" ng-model="createUsername" placeholder="Chugga-name">
        </div>
        <div class="row-fluid">
                        <button class="green-sea-flat-button" ng-click="submit()">
                Create Competition
            </button>
        </div>
    </div>
</div>
