<div class="container-fluid valign">
    <div class="row-fluid valign">
        <div class="row-fluid">
           
        </div>
        <div class="row-fluid">
            <h2> Competition Name </h2>
            <input type="text" class="form-control" id="createName" placeholder="ex: BrickHacks">
        </div>
        <div class="row-fluid">
            <h2> Password </h2>
            <input type="password" class="form-control" id="createPassword" placeholder="Password">
        </div>
        <div class="row-fluid">
            <h2> Chugga-name </h2>
            <input type="text" class="form-control" id="createUsername" placeholder="Chugga-name">
        </div>
        <div class="row-fluid">
            <a class="btn btn-large" href="#/modComp">Create Competition</a>
        </div>
    </div>
</div>
