<div class="container-fluid valign">
    <div class="row-fluid valign">
        <div class="row-fluid">
            <h1 class="title">
                Welcome to Codename CodeChugga!
            </h1>
        </div>
        <div class="row-fluid">
            <div class="span3"></div>
            <div class="span3">
                <a class="btn btn-large" href="#/join">Join Competition</a>
            </div>
            <div class="span3">
                <a class="btn btn-large" href="#/create">Create Competition</a>
            </div>
            <div class="span3"></div>
        </div>
    </div>
</div>
