<div class="container-fluid valign">
    <div class="row-fluid valign">
        <div class="row-fluid">
            <h1 class="title">
                Welcome to Codename CodeChugga!
            </h1>
        </div>
        <div class="row-fluid">
            <div class="span3"></div>
            <div class="span3">
                <button class="green-sea-flat-button" ng-click="join()">
                    Join Competition
                </button>
            </div>
            <div class="span3">
                <button class="green-sea-flat-button" ng-click="create()">
                    Create Competition
                </button>
            </div>
            <div class="span3"></div>
        </div>
    </div>
</div>
