<div class="container-fluid valign">
    <div class="row-fluid valign">
        <div class="row-fluid">
           
        </div>
        <div class="row-fluid">
            <h2> Room Code </h2>
            <input type="text" class="form-control" id="roomname" ng-model="joinName" placeholder="ex: 5R21C">
        </div>
        <div class="row-fluid">
            <h2> Password </h2>
            <input type="password" id="password" ng-model="joinPassword" class="form-control" id="joinPassword" placeholder="Password">
        </div>
        <div class="row-fluid">
            <h2> Chugga-name </h2>
            <input type="text" class="form-control" id="username" ng-Model="joinUsername" placeholder="Chugga-name">
        </div>
        <div class="row-fluid">
            <button class="green-sea-flat-button" ng-click="submit()">
                Join Competition
            </button>
        </div>
    </div>
</div>
